button {
    cursor: pointer;
}
body{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper{
    width: 70%;
}
.top{
    width: 1440px;
    height: 40px;
    background-color: #939878;
    text-align: center  ;
    margin-top: 15px;

}
.head{
    width: 1440px;
    height: 72px;
    display: flex;
}
.button1{
    border: none;
    width: 100px;
    height: 42px;
    background-color: #f8f6f6;
    border-radius: 6px;
    box-shadow: 1px;
    margin-top: 5px;
    margin-left:20px ;
}
.button2{
    border: none;
    width: 159px;
    height: 42px;
    background-color: #CF6F49;
    border-radius: 6px;
    box-shadow: 1px;
    margin-top: 5px;
    margin-left:20px ;
    color: #f8f6f6;
    border-color: #CF6F49;
    border: n;
}
.twotop{
    width: 1440px;
    height: 686px;
    display: flex;
}
.twotop_left{
    width: 720px;
    height: 686px;  
}
.twotop_left_one{
    width: 560px;
    height: 366.83px;
    margin-top: 159px;
    margin-left: 80px;
}
.twotop_left_two{
    width: 516px;
    height: 135px;
    font-size: 56px ;
    margin-top: 149.42px;
}
.twotop_left_three{
    font-size: 20px;
    color: #64655e;
    width: 503px;
    height: 90px;
}
.twotop_left_input{
    width: 310px;
    height: 48px;
    border-radius: 1px;
}
.twotop_left_button{
    width: 154px;
    height:50px ;
    background-color: #CF6F49;
    border-radius: 6px;
    color: aliceblue;
    border: none;
}
.twotop_right_img{
    width: 720px;
    height: 686px;
    margin-left: 720px;
    margin-top: -400px;
}
.threetop{
    width: 1280px;
    height: 482px;
    margin-top: 246px;
    margin-left: 80px;
}
.threetop_head{
    width: 293PX;
    height: 58px;
    font-size: 48px;
    font-family: sans-serif;
    margin-left: 550px;
}
.threetop_head1{
    width: 754px;
    height: 54px;
    font-size: 18px;
    text-align: center;
    margin-left: 279px;
}
.threetop_head_thero{
    display: flex;
}
.threetop_head_one{
    width: 405px;
    height: 291px;
    background-color: #f6f6f6;
    text-align: center;
    border-radius: 15px;
    margin-left: 35px;
}
.threetop_head_one_kart{
    margin-top: 49px;
    
   
}
.threetop_head_one_kart_text{
    width: 338px;
    height: 72px;
    margin-left: 34px;
}
.four_top{
    width: 1280px;
    height: 600px;
    margin-top: 210px;
    margin-left: 80px;
    display: flex;
}
.four_top_right{
    width: 600px;
    height: 318.58px;
    margin-top: 140px;
}
.four_top_right_text1{
    width: 453px;
    height: 116px;
    font-size: 48px;
    font-style: italic     ;
    line-height: 57.6px;
    margin-left: px;
}
.four_top_right_text2{
    width: 520px;
    height: 54px ;
}
.four_top_right_button{
    width: 330px;
    height: 50px;
    display: flex;
}
.four_top_right_button1{
    width: 192px;
    height: 50px;
    background-color: #ecececd0;
    border: 0.5px;
    border-radius: 7px;
    cursor: pointer;
}
.four_top_right_button2{
    width: 192px;
    height: 50px;
    background-color: #ecececd0;
    border: 0.5px;
    border-radius: 7px;
    margin-left: 30px;
    cursor: pointer;
}
.four_top_left_img{
    margin-left: 680px;
    margin-top: -500px;
}
.fourtop{
    width: 1280px;
    height: 600px;
    margin-top: 210px;
    margin-left: 80px;
    display: flex;
}



.fourtop_right{
    width: 453px;
    height: 116px;
    font-size: 48px;
    font-style: italic     ;
    line-height: 57.6px;
    margin-left: 680px;
}
.fourtop_right_text2{
    width: 620px;
    height: 54px ;
    font-size: 18px;
    font-style: italic     ;
    line-height: 27px;
    margin-top: -55px;

}
.fourtop_right_kartmax{
    display: flex;
    width:600px ;
    height: 196px;
}
.fourtop_right_kart1{
    width: 288px;
    height:180px ;
    background-color: #fcfbfb;
    border-radius: 20px;
}
.fourtop_right_kart1_text{
    width: 168px;
    height:28px ;
    font-size: 20px;
    margin-top: -20px;

}
.kart1_text2{
    width: 254px;
    height: 72px;
    font-size: 18px;
    font-size: ;
    line-height: 24px;
}
.fourtop_img{
    margin-left: -680px;
    margin-top: -570px;
}



.five_top_head_sett{
    display: flex;
    flex-direction: column;
    position: relative;
}
.five_top_head{
   text-align: center;
    font-style: italic     ;
    line-height: 57.6px;
    font-size: 95px;
    position: absolute;
    margin-left:450px;
    display: flex;

}
.five_top_head1{
    width: 713px;
    height: 54px;
    font-size: 21px;
    margin-left: 292px ;
    text-align: center;
    margin-top: 200px;
}
.five_top_center{
    width:1280px ;
    height: 276px;
    display: flex;
    margin-left: 150px;
}
.five_top_center_kartone{
    width: 316px;
    height: 70px ;
    background-color: #e6e2e2;
    border-radius: 15PX;
    margin-left: 17PX;
    text-align: center;
}
.six_top{
    width: 643px;
    height: 58px;
    font-size: 60px;
    text-align: center;
    margin-left: 363px;
}
.six_top_karts{
    width: 1583px;
    height: 550px;
    margin-left:    -30px;
    background-color: #ffffff;
    display: flex;
    margin-top: 150px;
}
.six_top_karts_one{
    width: 405px;
    height: 500px;
    border-radius: 17;
    background-color: rgb(175, 175, 175);
    border-radius: 25px;
    margin-left: 89px;
}
.seven_top{
    width:  1280px;
    height:460px;
     background-color   : #65665C;
    margin-top: 50px;
    margin-left: 80px;
    border-radius: 24px;
    align-items: center;
    text-align: center;
}


.seven_topimg{
    margin-top: 95px;
}
.seven_top_texten{
    width:137px ;
    height:50px ;
    border-radius: 5px;
    background-color: #CF6F49;
    border: none;
    color: #e6e2e2;
    cursor: pointer;
    
}
.top8{
    width:1280px ;
    height: 325px;
    margin-left: 80px;
    display: flex;
}

.top8_kart1{
    width:405px ;
    height:305px ;
}
.top8_text{
    width:339px ;
    height: 108px;
    font-size: 18px;
}
.ask{
    width: 172px;
    height: 48px ;
    display: flex   ;
}