html{
    box-sizing: border-box;
    
}
*,*:after,*::before{
    box-sizing: inherit;
}
body{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-style: italic;
} 

.wrapper{
 width: 1440px;
}
.head{
  width: 1212;
  height: 81px;
  background-color: #10B981;
  color: white;
  gap: 100px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  font-size: 20px;
}
.content_1{
  display: flex;
  font-size: 21px;
}
.content_1_box{
  display: flex;
  flex-direction: column;
  font-size: 22px;
  width: 499px;
  gap: 10px;
  margin-top: 100px;
}
.content_1_big{
  font-size: 64px;
  width: 499px;
}
.content_1_box_green_button{
  width: 263px;
  height: 70px;
  border: 10px;
  background-color: #10B981;
  border-radius: 10px;
  color: white;
  font-size: 22px;
}
.content_1_blue{
  width: 272px;
  height: 477px;
  border-radius:136px ;
  border:#ECFEF4 ;
  background-color: #ECFEF4;
  margin-top: 210px;
  margin-left: 500px;
  font-size: 30px;
  text-align: center;
}
.content_1_blue img{
  margin-top: 80px;
}
.content_2{
  width: auto;
  height: 591px;
  background-color: #845EC2;
  margin-top: 150px;
  display: flex;
  color: #ECFEF4;
}
.content_2_left{
  font-size: 64px;
  margin-left: 70px;
}
.content_2_left_img{
  display: flex;
  gap: 30px;
}
.content_2_left_img_sett{
  margin-top: -30px;
  display: flex;
  flex-direction: column;
}
.content_2_left_text_sett{
  font-size: 31px;
  text-align: center;
  margin-top: -30px;
}
.content_2_right{
  width:560px ;
  font-size: 21px;
  margin-top: 120px;
  margin-left: 130px;
  
}
.content_2_right h3{
  font-size: 44px;
}
.content_2_right_button{
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin-left: -135px;
}
.content_2_right_button_green{
  width: 263px;
  height: 70px;
  border-radius:10px ;
  background-color: #10B981;
  border: #10B981;
  text-align: center;
  justify-content: center;
  color: #ECFEF4;
  font-size: 21px;
}
.h3_text {
  font-size:44px ;
  margin-top: 250px;
  text-align: center;
}
.content_3{
  display: flex;
  gap: 170px;
  
}
.card{
  width: 361px;
  height: 438px;
  border-radius: 15px;
  background-color: #ECFEF4;
  border: #10B981;
  font-size: 21px;
  display: flex;
}
.card.sett{
  height: 600px;
}
.card_img{
  width: 196px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-left: 85px;
}
.content_3_text_sett{
  margin-left: 70px;  
}
.content_3_text{
  width:319px ;
  height: 164px;
  border-radius: 15px;
  background-color: white;
  text-align: start;
  justify-content: center;
  font-size: 21px;
  }
  .content_3_left_img{
    display: flex;
    flex-wrap: nowrap;
    font-size: 11px;
    gap: 5px;
    height: 22px;
  }
  .content_3_ractangle{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    background-color: #10B981;
    color: white;
    margin-left: -40px;
    margin-top: 20px;
    font-size: 20px;
  }
  .content_3_ractangle_top{
    margin-top:30px;
  }
  .content_3_ractangle_bottom{
    margin-top: -15px;
  }
  .content_3_button{
    width: 361px;
    height:70px ;
    background-color: #10B981;
    border-radius: 10px;
    font-size: 21px;
    justify-content: center;
    text-align: center;
    border: #ffffff;
    margin-top: 40px;
    color: white;
  }
  .card2{
  width: 361px;
  height: 438px;
  border-radius: 15px;
  background-color: #C9F2FF;
  border: #C9F2FF;
  font-size: 21px;
  display: flex;
}
.card_sett_img{
  width: 241px;
  height: 241px;
  margin-top: -45px;
}
  .card3{
  width: 361px;
  height: 438px;
  border-radius: 15px;
  background-color:#E5D5FF;
  border: #E5D5FF;
  font-size: 21px;
  display: flex;
}
.content_3_ractangle_caed3{
  background-color: #845EC2;
      display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    color: white;
    margin-left: -40px;
    margin-top: 20px;
    font-size: 20px;
}
  .card4{
  width: 361px;
  height: 438px;
  border-radius: 15px;
  background-color:#E0EFFF;
  border: #E0EFFF;
  font-size: 21px;
  display: flex;
}
 .card5{
  width: 361px;
  height: 438px;
  border-radius: 15px;
  background-color:#E8F9FF;
  border: #E8F9FF;
  font-size: 21px;
  display: flex;
}
 .card6{
  width: 361px;
  height: 438px;
  border-radius: 15px;
  background-color:#D3FBFB;
  border: #D3FBFB;
  font-size: 21px;
  display: flex;
}
.content_3_ractangle_caed6  {
  background-color: #08BDBE;
      display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    color: white;
    margin-left: -40px;
    margin-top: 20px;
    font-size: 20px;
}
.card4_img{
    width: 196px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  margin-left: 85px;
}
.content_4{
  width: auto;
  height: 591px;
  background-color: #845EC2;
  display: flex;
  flex-wrap: nowrap;
  gap: 60px;
  color: white;
}
.content_4_img{
  margin-left: 50px;
  margin-top: 30px;
  height: 417px;
  width: 237px;
}
.content_4_img2{
  margin-left: 50px;
  margin-top: 100px;
  height: 417px;
  width: 237px;
}
.content_4_box{
  font-size: 21px;
  width: 584px;
}
.content_4_box_h3{
  font-size: 60px;
}
.content_4_right_button{
  margin-left: -160px;
  margin-top: 120px;
  display: flex;
  gap: 30px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.content_5{
  align-items: end;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  font-size: 22px;
  gap: 60px;
  margin-left: 300px;
  
}
.content_5_green{
  width: 175px;
  height:50px ;
  text-align: center;
  justify-content: center;
  border: #10B981;
  background-color: #10B981;
  font-size: 21px;
  color: white;
}
.footer_line{
  width: 100%;
  height: 1px;
  background-color: black;
  margin-top: 100px;
}
.foot{
  display: flex;
  flex-wrap: nowrap;
  gap: 100px;
  margin-top: 200px;
}
.foot_content{
  font-size: 36px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-left: 120px;
}
.a_green{
  color: #10B981;
}
button{
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
